@{
    ViewBag.Title = "About";
}


<h2>Za Sulejmana:</h2>
<p>Korisnik: "Admin", a Pass: "admin1" ima privilegije da moze dodati/izmijeniti/izbrisati korisnika ili event</p>
<p>Svako logovan moze dodati event, ali ne i korisnika</p>
<p>Nelogovan korisnik aplikacije moze pregledati listu korisnika ili eventa</p>

